<div class="card-container">
  <md-toolbar color="primary">
    <span>Question Preview</span>
    <span class="example-spacer"></span>
    <div *ngIf="wasAttempted && isCorrect;">
      <span>Correct</span>
    </div>
    <div *ngIf="wasAttempted && !isCorrect;">
      <span>Wrong</span>
    </div>
    <span class="example-spacer"></span>
    <div>Tries {{numberOfTries-numberTriesUsed}} out of {{numberOfTries}}</div>
  </md-toolbar>
  <md-card>
    <md-card-header>
      <md-card-title>{{questionTitle}}</md-card-title>
      <md-card-subtitle>{{qustionDescription}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>

      <div *ngIf="questionBody">
        <div [mathJax]="questionBody"></div>
      </div>

      <div [ngSwitch]="questionType.value" class="choices-block">
        <div *ngSwitchCase="'multipleChoice'">

          <md-radio-group class="example-radio-group" (change)="onRadioGroupChange($event)">
            <md-radio-button class="example-radio-button" *ngFor="let choice of questionArray.controls" [value]="choice.value.choiceNumber">
              <div [mathJax]="choice.value.choiceText"></div>
            </md-radio-button>
          </md-radio-group>

        </div>
        <div *ngSwitchCase="'allThatApply'">

          <div class="newline-me" *ngFor="let choice of questionArray.controls">
            <div class="inline-me">
              <md-checkbox [(ngModel)]="choice.value.studentAnswer"></md-checkbox>
              <label [mathJax]="choice.value.choiceText"></label>
            </div>
          </div>

        </div>
        <div *ngSwitchCase="'fillInTheBlank'">

          <div class="newline-me">
            <div *ngFor="let choice of questionArray.controls">
              <div class="fill-in-blank">
                <label [mathJax]="choice.value.choiceText">:</label>
                <span></span>
                <md-form-field>
                  <input mdInput type="text" [(ngModel)]="choice.value.studentAnswer">
                </md-form-field>
              </div>
            </div>
          </div>

        </div>
        <div *ngSwitchCase="'freeResponse'">

          <div *ngFor="let choice of questionArray.controls">
            <div class="free-response">
              <label [mathJax]="choice.value.choiceText">:</label>
              <span></span>
              <md-form-field>
                <textarea mdInput appAutoGrow [(ngModel)]="choice.value.studentAnswer"></textarea>
              </md-form-field>
            </div>
          </div>

        </div>
      </div>
      <span>Points Available: {{pointsAvailable - (numberTriesUsed*pointsLostPerTry)}}</span>
    </md-card-content>
    <md-card-actions>
      <button md-button color="primary" (click)="openDialog()">Submit</button>
      <button md-button color="primary" (click)="onTry()" [disabled]="isCorrect || (numberOfTries - numberTriesUsed) == 0">Try</button>
      <button md-button color="primary" (click)="onReset()">Reset</button>
    </md-card-actions>
  </md-card>
</div>