<div class="card-container">
  <md-card class="example-card">
    <form class="example-form" [formGroup]="signinForm">
      <!--md-form-field class="example-full-width"-->
      <!--input mdInput placeholder="Company (disabled)" disabled value="Google"-->
      <!--md-form-field-->
      <p>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Email" formControlName="email" value="">
        </md-form-field>
      </p>
      <p>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Password" formControlName="password" value="">
        </md-form-field>
      </p>
      <div>
        <button md-raised-button color="primary">Sign In</button>
        <button md-raised-button>Sign Up</button>
      </div>
    </form>
  </md-card>
</div>
