<md-card class="example-card">
    <form class="example-form" [formGroup] = "signupForm" (ngSubmit) = "onSubmit()">
            <!--md-form-field class="example-full-width"-->
                <!--input mdInput placeholder="Company (disabled)" disabled value="Google"-->
            <!--md-form-field-->
            
            <table class="example-full-width" cellspacing="0"><tr>
                <td><md-form-field class="example-full-width">
                    <input mdInput 
                    placeholder="First name"
                    formControlName = "firstName"
                    >
                </md-form-field></td>
                <td><md-form-field class="example-full-width">
                    <input mdInput 
                    placeholder="Last Name"
                    formControlName = "lastName"
                    >
                </md-form-field></td>
            </tr></table>
            
            <p>
                <md-form-field class="example-full-width">
                        <!--This shud probably be a drop down menu for school names-->
                    <textarea mdInput 
                    placeholder="School"
                    formControlName = "school"
                    ></textarea>
                </md-form-field>
            </p>
            <p>
                <md-form-field class="example-full-width">
                    <textarea mdInput 
                    placeholder="Email"
                    formControlName = "email"
                    ></textarea>
                </md-form-field>
            </p>
            <table class="example-full-width" cellspacing="0"><tr>
                <td><md-form-field class="example-full-width">
                <input mdInput 
                placeholder="Password"
                formControlName = "password"
                >
                </md-form-field></td>
                <!--td><md-form-field class="example-full-width"-->
                <!--input mdInput placeholder="Repeat Password"-->
                <!--/md-form-field></td-->
            </tr></table>
            <button md-raised-button 
            type="submit"
            [disabled]="!signupForm.valid"
            >
            Sign Up</button>
        </form>
</md-card>
