<div class="card-container">
        <md-card class="example-card">
                <form class="example-form" [formGroup] = "signinForm">
                        <!--md-form-field class="example-full-width"-->
                            <!--input mdInput placeholder="Company (disabled)" disabled value="Google"-->
                        <!--md-form-field-->
                        <p>
                            <md-form-field class="example-full-width">
                                <input name = "Email" type = "text" placeholder = "Email" required >
                                
                            </md-form-field>
                        </p>
                        <p>
                            <md-form-field class="example-full-width">
                                <input name = "Password" type = "text" placeholder = "Password" required >
                            </md-form-field>
                        </p>
                        <button md-raised-button type="Login">Sign In</button>
                    </form>
        </md-card>
</div>