<div class="card-container">
    <md-card class="example-card">
      <form class="example-form" [formGroup]="newFlashCardForm" (ngSubmit)="onSubmit()">
        <p>
          <md-form-field class="example-full-width">
            <input mdInput placeholder="Title" formControlName="title">
          </md-form-field>
        </p>
        <p>
          <md-form-field class="example-full-width">
            <textarea mdInput appAutoGrow placeholder="Definition" formControlName="flashCard"></textarea>
          </md-form-field>
        </p>
        <button md-raised-button type="Submit" [disabled]="!newFlashCardForm.valid">Create Flash Card</button>
        <!-- USE type="button"  to make button not of submit type -->
        <button md-raised-button type="button" (click)="onGoBack()">Go Back</button>
      </form>
    </md-card>
  </div>