/* #card {
    margin-top: 30px;
    max-width: 100px;
    margin-left: 30px;
    margin-right: auto;
  }

#titlecard {
  font-size: 24px;
} */

.cardtitle{
  font-size: 20px;
  font-weight: 600;
  word-break: break-word;
}
.menu {
  margin-left: auto;
}

.sideflash{
  word-wrap: break-word;
  margin-top: 10px;
}