<div class="card-container">
  <md-card class="example-card">
    <form class="example-form" [formGroup]="newCourse" (ngSubmit)="onSubmit()">
      <!--md-form-field class="example-full-width"-->
      <!--input mdInput placeholder="Company (disabled)" disabled value="Google"-->
      <!--md-form-field-->
      <p>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Title" formControlName="title">
        </md-form-field>
      </p>
      <p>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Registration Number" formControlName="regNum">
        </md-form-field>
      </p>
      <p>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="School Name" formControlName="schoolName">
        </md-form-field>
      </p>
      <p>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Description" formControlName="description">
        </md-form-field>
      </p>
      <button md-raised-button type="Submit">Create Course</button>
      <button md-raised-button (click)="onGoBack()">Go Back</button>
    </form>
  </md-card>
</div>
